#nav {
  width: 100%;
  background-color: #fff;
  padding: 0 100px;
}

#nav-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 0;
}

#logo {
  display: flex;
  align-items: center;
  width: 30%;
  margin-top: 35px;  
  gap: 30px;
}

#logo img {
  width: 90px;
  height: 90px;
}

#logo h1 {
  color: #000000;
  font-size: 4.5rem;
  margin: 0;
}

#ad-image {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  margin-top: 24px;
}

#ad-image img {
  max-width: 100%;
  width: 700px;
  height: 120px;
  max-height: 200px;
  object-fit: cover;
  border-radius:20px;
}

#menus {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
}

#menus p {
  margin: 0;
}

#menus a {
  color: #000000;
  text-decoration: none;
  position: relative;
  padding-bottom: 7px;
}

#menus a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #FFA62B;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

#menus a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

