.restaurant-detail-container {
    display: flex;
    width: 100%;
  }
  
  .left-part {
    width: 75%;
    padding: 60px 0px 20px 120px;
    box-sizing: border-box;
  }
  
  .right-part {
    width: 25%;
    padding: 50px 0px 20px 55px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .restaurant-title {
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 70%; 
    word-wrap: break-word;  
    text-transform: uppercase;
  }
  
  .landscape-image {
    width: 80%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    border: 5px solid #FFA823;  
    border-radius: 18px;
  }
  
  .post-detail {
    width: 80%;
  }
  
  .rating {
    font-size: 16px;
    margin: 10px 0;
    color: #f98704;
    font-weight: 500;
  }
  
  .details-section, .recommendation-section, .menu-download-section {
    margin-top: 20px;
  }
  
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .details-section p, .recommendation-section ul {
    font-size: 16px;
  }
  
  .recommendation-section ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .recommendation-section li {
    margin-bottom: 5px;
  }
  
  .menu-download-section .download-button {
    padding: 10px 20px;
    background-color: #FFA823;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 17px;
  }
  
  .menu-download-section .download-button:hover {
    background-color: #fc9905;
  }
  
  .dummy-image img {
    height: auto;
  }
  
  .cards-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    margin-top: 20px; 
  }
  
  .cards-row .restaurant-card {
    width: 100%;  
    max-width: 300px; 
  }
  